{{template "../public/page_header.html" .}}
<style type="text/css">
    table.hovertable {
        width: 100%;
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
    table.hovertable th {
        background-color:#c3dde0;
        border-width: 1px;
        padding: 15px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    table.hovertable tr {
        background-color:#d4e3e5;
    }
    table.hovertable td {
        border-width: 1px;
        padding:10px 58px 15px 58px;
        border-style: solid;
        border-color: #a9c6c9;
    }
</style>
<div class="container-fluid">
    <div class="row">

        <!--
            列表展示
        -->
        <div class="table-responsive">
            <table class="hovertable">
                <thead>
                <tr class="th">
                    <th>管理员名称</th>
                    <th>管理员电话</th>
                    <th>管理员邮箱</th>
                    <th>管理员角色</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $key,$value := .managerList}}
                    <tr>
                        <td>{{$value.Username}}</td>
                        <td>{{$value.Mobile}}</td>
                        <td>{{$value.Email}}</td>
                        <td>{{$value.Role.Title}}</td>
                        <td>{{$value.AddTime | unixToDate}}</td>

                        <td align="center">
                            {{if eq $value.Status 1}}
                                <img  src="/static/admin/images/yes.png" width="40" class="chStatus" data-id="{{$value.Id}}" data-table="manager" data-field="status"/>
                            {{else}}
                                <img src="/static/admin/images/no.png"  width="40" class="chStatus" data-id="{{$value.Id}}" data-table="manager" data-field="status"/>
                            {{end}}
                        </td>


                        <td class="text-center">
                            <a href="/{{config "String" "adminPath" ""}}/manager/edit?id={{$value.Id}}">编辑</a>　
                            <a class="delete" href="/{{config "String" "adminPath" ""}}/manager/delete?id={{$value.Id}}">删除</a>
                        </td>
                    </tr>

                {{end}}
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>