<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="2;url=/state_grid/">
    <title>提示信息</title>
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container-fluid">
    <div class="container" style="width: 480px;margin-top:100px;">
        <div class="alert alert-danger">
            <h2>输入网址有问题，请联系管理员!</h2>
            <br />
            <p>本页面将在 2 秒后 跳转到后台管理中心</p>
        </div>
    </div>
</div>
</body>
</html>